<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=.;Initial Catalog=KaoQin;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DataConnectionString" connectionString="Data Source=JSZX-WINDOWS-01;Initial Catalog=KaoQin;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DataConnectionString" connectionString="Data Source=.;AttachDBFilename=|DataDirectory|\KaoQin.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
    <sessionState mode="InProc" timeout="60"/>	 
  </system.web>
<system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
<httpProtocol>
		<customHeaders>
			<add name="Access-Control-Allow-Origin" value="*"/>
			<add name="Access-Control-Allow-Headers" value="X-Requested-With"/>
			<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
		</customHeaders>
</httpProtocol>
    </system.webServer>
</configuration>